

body {
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding-top: 20px;
}

.el-menu{
  height: 100%;
}

// .swiper-pagination-bullet {
//   background: #B2D2FF !important;
// }

// .swiper-pagination-bullet-active {
//   background: #65A5FF !important;
// }

// // 图片预览
// .preview-contarner {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 9;

//   // 蒙版
//   .mask-div {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     opacity: .5;
//     background: #000;
//   }

//   // 删除按钮
//   .delete-button {
//     position: absolute;
//     top: 60px;
//     right: 40px;
//     width: 30px;
//     height: 30px;
//     background: #000;
//     opacity: 0.8;
//     border-radius: 50%;
//     cursor: pointer;
//     z-index: 9;

//     >i {
//       color: #fff;
//       font-size: 30px;
//     }
//   }

//   // 图片
//   .preview-contarner_image {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//   }

//   // 非图片
//   .iframe-div {
//     width: 62%;
//     min-width: 800px;
//     margin: 0 auto;
//     position: absolute;
//     left: 0;
//     height: 100%;
//     right: 0;

//     .preview-contarner_iframe {
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       width: 100%;
//       height: 100%;
//     }
//   }
// }

// // 项目中antd的数字输入框置灰后颜色和其他
// .ant-input-number-disabled {
//   background-color: #F5F7FA !important;
//   border-color: #E4E7ED !important;
//   color: #C0C4CC !important;
// }

// .virtual-list::-webkit-scrollbar {
//   /*滚动条整体样式*/
//   width: 10px;
//   /*高宽分别对应横竖滚动条的尺寸*/
//   height: 100%;
// }

// .search-container {
//   margin-top: 10px;

//   .search-title {
//     line-height: 24px;
//     margin-bottom: 12px;
//     display: inline-block;
//   }

//   .search-item {
//     margin-left: 10px;
//     margin-bottom: 10px;
//   }
// }

// .el-collapse-item {

//   // .el-collapse-item__header{
//   //   background-color: rgba($color: #3782ff, $alpha: 0.8);
//   // }
//   .el-collapse-item__arrow.is-active,
//   .el-collapse-item__arrow {
//     font-weight: bold;
//   }

//   .el-collapse-item__content {
//     // padding-top: 20px;
//     // padding-bottom: 0;
//   }

//   .collapse-header {
//     width: 100%;
//     // color: #fff;
//     margin-right: 20px;
//     display: flex;
//     justify-content: flex-end;
//     font-weight: bold;
//   }
// }